@import './_variables';
html {
  height: 100%;
}

body {
  padding-top: $navBarHeight;
  background: white;
  position: relative;
  padding-bottom: $footerHeight + 10;
  min-height: 100%;
}

.logged span {
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .glyphicon {
    font-size: 0.7em;
  }
}

@mixin reset_button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

a.glyphicon {
  &:hover {
    text-decoration: none;
  }
}

button.glyphicon {
  @include reset_button();
  cursor: pointer;

  &.text-danger {
    color: #a94442;
    &:hover {
      color: #843534;
    }
  }
}

.glyphicon-delete-form {
  display: inline-block !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form):not(section)  {
  border-left: 5px solid #a94442; /* red */
}
