<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Comment</h3>
  </div>
  <div class="panel-body">

    <div class="form-group">
      <label for="comment-text"
             class="col-sm-2 control-label required">Text:</label>
      <div class="col-sm-10">
        <input type="text"
               formControlName="text"
               required
               id="comment-text"
               class="form-control">
      </div>
    </div>

  </div>
</div>
